body {
  background: rgb(11, 51, 46);
}
h1,
p {
  font-family: Lato;
}
.main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  height: 400px;
  border: 2px solid blue;
  display: grid;
  grid-template-columns: min(152px);
  grid-auto-rows: 80px;

  grid-template-areas:
    "header header"
    "content content";
}
.container-header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  grid-area: header;
  background-color: black;
}
.logo {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 5px;
}
.nav-bar {
  margin: 10px;
  width: 300px;
  background-color: brown;
  display: flex; 
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 13px;
}
.button {
  border: 1px solid rgb(70, 70, 78);
  padding: 1px 10px;
  margin-top: 1px;
  background-color: lavender;
}
.nav-button-one {
  margin-left: 10px;
}
.nav-button-two {
  margin-left: 20px;
}
.container-body {
  display: flex;
  grid-area: content;
  width: 600px;
  height: 320px
}
.item-list {
  display: flex;
  height: 320px;
  width: 270px;
  overflow: auto;
  background-color: brown;
}
.content {
  background-color: aliceblue;
  width: 448px;
}
.list-item {

  align-self: center;
  list-style-type: none;
  margin: 4px;
  
  color: white;
}